* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:lightblue;
    gap: 1rem;
   
  
  }

  .container__body {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,150px);
    
  
  }


  .container__game {
    grid-column: 1 / 5;
    grid-row: 3 / 5;

  }


  .container__svg {
    width: 50%;
    height: 50%;
    
  }

.container__title {
  grid-row: 1;
  grid-column: 1 / 5;  
  color: darkgreen;
  font-weight: bolder;
  font-size: x-large;
  display: flex;
  flex-direction: row-reverse;
  object-fit: contain;
  justify-content: space-evenly;
}

.ninja {
  mix-blend-mode: multiply;
}
 
  
  body section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #word-display,
  #incorrect-letters,
  #guess-input {
    padding: 1rem;
    width: 15rem;
    border-radius: 1rem;
  }
  
  #guess-btn {
    padding: 1rem;
    width: 15rem;
    margin-top: 1rem;
    border: none;
    background-color: green;
    color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }



  @media screen and (max-height: 700px) {


    .container__body{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(5,90px);
      row-gap: 5%;
    }
  
  
    .container__game {
      margin-top: 5%;
      grid-column: 1 / 5;
      grid-row: 2 / 5;
  
    }

    .container__svg{
      width: 50%;
      height: 50%;
      
  
    }

    .container__title{
      grid-row: 1;
      grid-column: 1 / 5;  
      color: darkgreen;
      font-weight: bolder;
      font-size: smaller;
      display: flex;
      justify-content: space-between;
    }


  }